body {
background-image: url("../img/amazon-background.jfif");
background-repeat:repeat-y;
background-size: cover;
overflow-x: hidden;
}

h1{
    text-align: center;
}

.brief-modal { /* TODO fix this shit */
    min-width: 300px;
    height: 80vh;
    padding: 15px;
    background-color: rgb(89, 102, 113);
    top: 0px;
    text-align: center;
    left: 150%;
    position: absolute; 
    transition: 0.5s;
}

.brief-modal.open {
    left: 70%;
}

.brief-modal h4 span {
    color: orange;
}

.brief-modal {
    text-align: center;
}

.brief-modal h3{
    color: orange;
    text-decoration: overline;
    text-transform: capitalize;
}

.book-filter {
    background-color: bisque;
}

button {
    background-color: #222;
    color: orange;
    border-radius: .2em;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    color: deeppink;
}

td {
    background-color: whitesmoke;
    width: 25%;
    margin: .5em;
    border: 3px solid lightgrey;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 5px;
}

